.containerSelector {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;

	select {
		font-family: "Sarabun", sans-serif;
		border: none;
		padding: 12px 0px;
		padding-bottom: 2px;
		font-size: 16px;
		height: 42px;
		width: 100%;
		min-width: 7rem;

		border-bottom: 2px solid transparent;
		&:focus-visible {
			outline: none;
			border-bottom: 2px solid var(--primary-color);
		}
	}
}
.addSelectors {
	gap: 5px;
	display: flex;
	justify-content: flex-end;
	button {
		background-color: transparent;
		color: white;
		border-radius: 50px;
		border: 2px solid white;
		padding: 5px 6px;
		font-size: 10px;
		cursor: pointer;
		&:disabled {
			opacity: 0.6;
		}
	}
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
	-moz-appearance: textfield; /* Firefox */
}
